:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
}

.stone-100-color {
  color: var(--stone-100);
}

.stone-100-bck-color {
  background-color: var(--stone-100);
}

.stone-150-color {
  color: var(--stone-150);
}

.stone-150-bck-color {
  background-color: var(--stone-150);
}

.stone-600-color {
  color: var(--stone-600);
}

.stone-600-bck-color {
  background-color: var(--stone-600);
}

.stone-900-color {
  color: var(--stone-900);
}

.stone-900-bck-color {
  background-color: var(--stone-900);
}

.brown-800-color {
  color: var(--brown-800);
}

.brown-800-bck-color {
  background-color: var(--brown-800);
}

.rose-800-color {
  color: var(--rose-800);
}

.rose-800-bck-color {
  background-color: var(--rose-800);
}

.rose-50-color {
  color: var(--rose-50);
}

.rose-50-bck-color {
  background-color: var(--rose-50);
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.outfit-400 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit-600 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.outfit-700 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.App {
  text-align: left;
  background: var(--stone-100);
  padding: 100px 0;
}

p {
  font-size: 16px;
}

h2 {
  margin: 0 0 15px;
}

h3 {
  margin: 0 0 15px;
}
.title {
  margin-bottom: 20px;
}

ul {
  padding-left: 18px;
}

ul > li {
  padding-left: 20px;
  margin-bottom: 10px;
}

ul > li:last-of-type {
  margin-bottom: 0;
}

.recipe-card {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  border-radius: 25px;
  background: var(--white);
  overflow: hidden;
  box-sizing: border-box;
  padding: 50px;
}

.recipe-image {
  width: 100%;
  border-radius: 25px;
  margin-bottom: 30px;
  object-fit: cover;
  object-position: center center;
}

.preparation-section {
  border-radius: 15px;
  padding: 25px;
  margin: 30px 0;
}

.ingredients-section {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--stone-150);
}

.instructions-section {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--stone-150);
}

ol {
  margin-left: 20px;
}

ol > li {
  font-family: "Outfit", sans-serif;
  color: var(--stone-600);
  padding-left: 20px;
  margin-bottom: 15px;
}

ol > li:last-of-type {
  margin-bottom: 0;
}

ol > li::marker {
  font-family: "Outfit", sans-serif;
  color: var(--rose-800);
}

ol > li > b {
  color: var(--stone-600);
  font-family: "Outfit", sans-serif;
}

.nutrition-table {
  margin-top: 20px;
  display: grid;
}

.nutrition-table .nt-dt {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: var(--stone-900);
  border-bottom: 1px solid var(--stone-150);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.nutrition-table .nt-dt:last-of-type,
.nutrition-table .nt-dt:nth-last-child(2) {
  border-bottom: unset;
  margin-bottom: 0;
  padding-bottom: 0;
}

.nutrition-table .nt-dt.nutrition {
  grid-column: 1;
  padding-left: 30px;
}

.nutrition-table .nt-dt.value {
  grid-column: 2;
  font-weight: 600;
  color: var(--rose-800);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media screen and (max-width: 960px) {
  .App {
    padding: 0;
  }

  .recipe-card {
    border-radius: 0;
    padding: 0;
  }

  .recipe-image {
    border-radius: 0;
  }

  .body {
    padding: 0 30px 30px 30px;
  }

}